<div class="page-container__content h-full">
  <p-card>
    <ng-template pTemplate="title">
      <div class="flex flex-row align-items-center">
        <a [routerLink]="['/']" class="p-button-rounded p-button-text" icon="pi pi-angle-left" pButton
           pRipple
           type="button"></a>
        <h5 class="text-center flex-grow-1" translate="">About</h5>
      </div>
    </ng-template>

    <div class="content">
      <div class="card shadow">
        <h6>Fonctionnalités</h6>
        <ul>
          <li>
            <h6>Publiques</h6>
            <ul>
              <li>Liste des recettes</li>
              <li>
                Filtre par :
                <ul>
                  <li>Nom</li>
                  <li>Régime (déterminé en fonction des types d'ingrédients)</li>
                  <li>Type de plat</li>
                  <li>Sucré/Salé (déterminé par un algorithme)</li>
                  <li>Ingrédients</li>
                  <li>De saison (déterminé en fonction de mois de saison des ingrédients)</li>
                </ul>
              </li>
              <li>Fiche d'une recette (cette page ne laissent pas le téléphone se mettre en veille, pendant que je
                  cuisine)
              </li>
              <li>
                Création de listes de course :
                <ul>
                  <li>En selectionnant plusieurs recettes</li>
                  <li>En regroupants les ingrédients et quantités</li>
                  <li>En triant les ingrédients par types</li>
                  <li>En précochant les ingrédients en cuisine</li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <h6>Administration</h6>
            <ul>
              <li>Ajout/Modification/Suppression des recettes</li>
              <li>Ajout/Modification/Suppression des ingrédients</li>
              <li>Ajout/Modification/Suppression des ingrédients en cuisine</li>
              <li>Une recette peut contenir une recette comme ingrédient</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="card">
        <h6>Services</h6>
        <ul>
          <li>Nom de domaine : Gandi</li>
          <li>Hébergement et CI : Netlify</li>
          <li>Base de donnée : Firebase</li>
          <li>Stockage des images : Firebase</li>
        </ul>
      </div>
      <div class="card">
        <h6>Technique</h6>
        <ul>
          <li>Framework : Angular</li>
          <li>Composants UI : PrimeNG</li>
          <li>Stockage local : NgXS</li>
          <li>Autres : NoSleep, MaterialIcons</li>
          <li>Source : https://github.com/alkemist/kitchen-party</li>
        </ul>
      </div>
    </div>
  </p-card>
</div>
