.card {
  padding: 20px;
  margin: 10px;

  h6 {
    font-weight: bold;
    margin: 20px 0;
  }

  ul {
    margin-left: 20px;

    li {
      list-style: initial;
      padding-top: 10px;
    }
  }
}
