<div [formGroup]="form">
  <div>
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name">
      <button mat-button *ngIf="form.get('name').value" matSuffix mat-icon-button aria-label="Clear" (click)="form.get('name').setValue('')">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error  *ngIf="form.get('name').hasError('required')">Le nom est requis</mat-error>
    </mat-form-field>
  </div>
  <div>
    <div class="mat-form-field-radio-group">
      <mat-label>Matière</mat-label>
      <mat-radio-group formControlName="matter">
        <mat-radio-button *ngFor="let matter of matterValuesLabels" [value]="matter.value">{{ matter.label }}</mat-radio-button>
      </mat-radio-group>
    </div>
    <mat-error *ngIf="form.get('matter').hasError('required')">Le type de donnée est requis</mat-error>
  </div>
</div>
