.ingredient, .recipe {
  margin-top: 10px;
  padding-bottom: 10px;
}

.recipe {
  text-align: center;
}

.ingredient {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  .quantity {
    font-weight: bold;
  }

  &.checked {
    color: rgba(255, 255, 255, 0.5);

    .quantity {
      font-weight: normal;
    }
  }
}

#shopping ::ng-deep {
  .p-card {
    margin-bottom: 20px;

    .p-card-content {
      padding-bottom: 0;
    }
  }
}
