<div class="page-container__content">
	<div class="page-container__content__center">
		<p-card>
			<ng-template pTemplate="title">
				<h5 class="text-center" translate="">Recipes</h5>
			</ng-template>

			<div *ngFor="let recipe of recipes" class="recipe">
				<div>{{ recipe.name }}</div>
			</div>
		</p-card>
		<p-card>
			<ng-template pTemplate="title">
				<h5 class="text-center" translate="">Shopping list</h5>
			</ng-template>

			<div *ngFor="let cartElement of cartOrderedByChecked" [class.checked]="cartElement.inKitchen"
					 class="ingredient flex align-items-center justify-content-between">
				<p-checkbox [(ngModel)]="cartElement.inKitchen" [binary]="true"
										[label]="cartElement.ingredient.name">test
				</p-checkbox>
				<div class="quantity">{{ cartElement.quantity }}</div>
			</div>

			<ng-template pTemplate="footer">

			</ng-template>
		</p-card>
	</div>
</div>

