<div class="page-container__content">
  <div class="page-container__content__center">
    <p-card>
      <ng-template pTemplate="title">
        <h5 class="text-center" translate="">Shopping list</h5>
      </ng-template>

      <div *ngFor="let cartElement of cartOrderedByChecked; let i = index" [class.checked]="cartElement.inKitchen"
           class="ingredient flex align-items-center justify-content-between">
        <p-checkbox (onChange)="onCheck($event, cartElement)" *ngIf="cartElement.ingredient || cartElement.other"
                    [(ngModel)]="cartElement.inKitchen"
                    [binary]="true"
                    [label]="cartElement.ingredient?.name ?? cartElement.other ?? ''">test
        </p-checkbox>
        <div class="flex flex-row align-items-center gap-4">
          <div class="quantity">{{ cartElement.quantity }}</div>
          <button pButton pRipple type="button" icon="pi pi-pencil" (click)="edit(i, cartElement)"
                  class="p-button-rounded p-button-text"></button>
          <button pButton pRipple type="button" icon="pi pi-trash" (click)="remove(i)"
                  class="p-button-rounded p-button-text"></button>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <p-button (click)="confirmBuild()" [label]="'Rebuild the shopping list' | translate" class=""
                  icon="pi pi-shopping-cart"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
<p-confirmDialog #cd [header]="'Confirmation' | translate" icon="pi pi-exclamation-triangle" key="shoppingConfirm">
  <p-footer>
    <button (click)="cd.reject()" [label]="'No' | translate" icon="pi pi-times" pButton
            pRipple
            type="button"></button>
    <button (click)="cd.accept()" [label]="'Yes' | translate" class="p-button-danger" icon="pi pi-check" pButton
            pRipple
            type="button"></button>
  </p-footer>
</p-confirmDialog>
