<mat-toolbar>
  <span>Liste des mesures</span>
  <span class="toolbar-spacer"></span>
  <a routerLink="/measure/new" mat-button color="accent"><mat-icon>add</mat-icon></a>
</mat-toolbar>

<mat-card class="page-margin">
  <mat-card-content>
    <div class="loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner></mat-spinner>
    </div>

    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="id">

      <!-- Position Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{typeValuesLabels[element.type].label}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="family">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Famille </th>
        <td mat-cell *matCellDef="let element"> {{element.family?.name}} </td>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>
      <ng-container matColumnDef="measure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent </th>
        <td mat-cell *matCellDef="let element"> {{element.measure?.name}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element" width="120px">
          <a [routerLink]="['/measure/', element.id]" matTooltip="Modifier l'mesure" mat-icon-button color="accent"><mat-icon>edit</mat-icon></a>
          <a (click)="delete(element)" matTooltip="Supprimer l'mesure" mat-icon-button color="warn"><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
