<form (submit)="handleSubmit()" [formGroup]="form"
      class="flex w-full flex-grow-1 flex-column justify-content-center align-items-center">
  <p-card>
    <ng-template pTemplate="title">
      <h5 class="text-center" translate="">Login</h5>
    </ng-template>

    <div class="fluid formgroup-inline">
      <div class="field">
        <div class="p-float-label">
          <input [ngClass]="{'p-invalid':email.invalid && (email.dirty || email.touched)}" formControlName="email"
                 id="email" pInputText/>
          <label [ngClass]="{'p-error':email.invalid && (email.dirty || email.touched)}" for="email"
                 translate="">Email</label>
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-error">
          <small *ngIf="email.errors?.['required']" translate="">
            Email is required.
          </small>
          <small *ngIf="email.errors?.['email']" translate="">
            Email is malformed.
          </small>
        </div>
      </div>
      <div class="field">
        <div class="p-float-label">
          <input [ngClass]="{'p-invalid':password.invalid && (password.dirty || password.touched)}"
                 formControlName="password" id="password" pInputText
                 type="password"/>
          <label [ngClass]="{'p-error':password.invalid && (password.dirty || password.touched)}" for="password"
                 translate="">Password</label>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-error">
          <small *ngIf="password.errors?.['required']"
                 translate="">
            Password is required.
          </small>
        </div>
        <small *ngIf="error" class="p-error">{{ error }}</small>
      </div>
      <button [label]="'Sign in' | translate" icon="pi pi-check" pButton pRipple type="submit"></button>
    </div>
  </p-card>
</form>
