<p-table #dt [loading]="loading"
         [paginator]="true" [rows]="10" [showCurrentPageReport]="false"
         [value]="ingredients" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         dataKey="id">
  <ng-template pTemplate="header">
    <tr>
      <th translate="">Name</th>
      <th></th>
    </tr>
    <tr>
      <th>
        <p-columnFilter [showMenu]="false" field="name" matchMode="contains">
          <ng-template let-filter="filterCallback" let-value pTemplate="filter">
            <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
          </ng-template>
        </p-columnFilter>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template let-ingredient pTemplate="body">
    <tr>
      <td>
        {{ingredient.name}}
      </td>
      <td>
        <a [routerLink]="['/', 'ingredient', ingredient.slug]"
           class="p-button-rounded p-button-success p-button-text"
           icon="pi pi-pencil"
           pButton
           pRipple></a>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="2" translate="">No ingredients found.</td>
    </tr>
  </ng-template>
</p-table>
