<div class="page-container__content h-full">
  <p-table #dt [loading]="loading" [paginator]="true" [rows]="10" [scrollable]="true" [showCurrentPageReport]="false"
           [value]="recipes" dataKey="id" scrollHeight="flex"
           styleClass="p-datatable-m">

    <ng-template pTemplate="header">
      <tr>
        <th translate="">Name</th>
        <th style="flex: 0 0 200px;" translate="">Type</th>
        <th style="flex: 0 0 80px;"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter [showMenu]="false" field="name" matchMode="contains">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <input (ngModelChange)="filter($event)" [ngModel]="value" pInputText/>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="flex: 0 0 200px;">
          <p-columnFilter [showMatchModes]="false" [showMenu]="false" [showOperator]="false" display="row"
                          field="type" matchMode="in">
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-multiSelect (onChange)="filter($event.value)"
                             [ngModel]="value" [options]="recipeTypes"
                             [selectionLimit]="3" [showHeader]="false"
                             optionValue="key">
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="flex: 0 0 80px;"></th>
      </tr>
    </ng-template>
    <ng-template let-recipe pTemplate="body">
      <tr>
        <td>
          {{recipe.name}}
        </td>
        <td style="flex: 0 0 200px;">
          {{recipe.typeName | translate}}
        </td>
        <td style="flex: 0 0 80px;">
          <a [routerLink]="['/', 'recipe', recipe.slug]"
             class="p-button-rounded p-button-success p-button-text"
             icon="pi pi-pencil"
             pButton
             pRipple></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" translate="">No recipes found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
