<mat-toolbar>
  <button a href="#" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    <span>Kitchen Party</span>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Accueil</span>
    </a>
    <a mat-menu-item routerLink="/ingredients">
      <mat-icon>extension</mat-icon>
      <span>Ingredients</span>
    </a>
    <a mat-menu-item routerLink="/families">
      <mat-icon>local_offer</mat-icon>
      <span>Familles</span>
    </a>
    <a mat-menu-item routerLink="/tools">
      <mat-icon>local_dining</mat-icon>
      <span>Outils</span>
    </a>
    <a mat-menu-item routerLink="/measures">
      <mat-icon>calculate</mat-icon>
      <span>Mesures</span>
    </a>
    <a mat-menu-item routerLink="/operations">
      <mat-icon>call_merge</mat-icon>
      <span>Operations</span>
    </a>
    <a mat-menu-item routerLink="/recipes">
      <mat-icon>cake</mat-icon>
      <span>Recettes</span>
    </a>
    <a mat-menu-item routerLink="/shelfs">
      <mat-icon>kitchen</mat-icon>
      <span>Réfrigérateur</span>
    </a>
    <a mat-menu-item routerLink="/lists">
      <mat-icon>shopping_cart</mat-icon>
      <span>Listes de courses</span>
    </a>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
