@import "/src/assets/styles/variables";

$informationHeight: 130px;

.page-container__content {
  padding: 0;

  .filter-summary {
    padding: 10px 10px 0;

    p-chip {
      margin: 0 5px 10px;
    }
  }

  .recipes {
    padding: 0 0 20px 0;

    .recipe {
      width: 420px;
      margin: 20px 10px 0 10px;

      .media {
        z-index: -1;
        min-height: $informationHeight;

        .center-cropped {
          height: 280px;

          @media screen and (max-width: $mobile-portrait-breakpoint-width) {
            height: 200px;
          }

          background-position: 50%;
          background-repeat: no-repeat;
          background-size: 120% auto;
          overflow: hidden;

          img {
            min-height: 100%;
            min-width: 100%;
            display: none;

            width: 100%;
          }
        }
      }

      .informations {
        background-color: rgba(0, 0, 0, 0.5);
        height: $informationHeight;
        margin-top: -$informationHeight;
        padding: 10px;

        h5 {
          padding: 1rem 1rem 1rem 0;
          font-weight: bold;
        }

        .details {
          padding: 0 10px;

          .col {
            padding: 0;
            font-weight: bold;

            @media screen and (max-width: $mobile-portrait-breakpoint-width) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

