<p-toolbar class="header">
  <div class="p-toolbar-group-left">
    <a [routerLink]="['/']" class="header__logo">
      Kitchen Party
    </a>
    <span *ngIf="title" style="">
      <span style="margin: 0 10px;">/</span>{{ title | translate }}
    </span>
  </div>

  <div class="p-toolbar-group-right">
    <a *ngIf="!loggedUser" [routerLink]="['/', 'login']" icon="pi pi-user" label="Log in" pButton pRipple></a>
    <button (click)="menu.toggle($event)" *ngIf="loggedUser" icon="pi pi-align-justify" pButton pRipple
            type="button"></button>
    <p-menu #menu [model]="menuItems" [popup]="true"></p-menu>
  </div>
</p-toolbar>
