<p-toolbar *ngIf="!hideHeader" [formGroup]="form" class="header">
  <!-- Begin Toolbar Left -->
  <div class="p-toolbar-group-left">
    <button *ngIf="loading" [disabled]="true"
            class="p-button-rounded p-button-text" icon="pi pi-spin pi-spinner" pButton></button>
    <button (click)="menu.toggle($event)" *ngIf="!loading" class="p-button-rounded p-button-text"
            icon="pi pi-align-justify" pButton pRipple
            type="button"></button>
    <a [class.mobile-hidden]="!showAppName" [class.showFilters]="showFilters" [routerLink]="['/']" class="header__logo">
      Kitchen Party
    </a>
    <span *ngIf="title">
      <span [class.mobile-hidden]="!showAppName" style="margin: 0 10px;">/</span>{{ title | translate }}
    </span>
  </div>
  <!-- End Toolbar Left -->

  <!-- Begin Toolbar Middle -->
  <div *ngIf="showFilters" class="filter-name flex flex-row align-items-center">
    <span class="p-float-label">
          <input formControlName="name" id="float-input" pInputText type="text">
          <label for="float-input" translate="">Name</label>
    </span>
    <button (click)="resetFilters()" [pTooltip]="'Clear filters' | translate" class="p-button-rounded p-button-text"
            icon="pi pi-times"
            pButton
            pRipple type="button"></button>
    <button (click)="gotoShopping()" [disabled]="selectedRecipes.length === 0"
            [pTooltip]="'Create shopping cart' | translate"
            class="p-button-rounded p-button-text mobile-hidden" icon="pi pi-shopping-cart"
            pButton pRipple type="button"></button>
  </div>
  <!-- End Toolbar Middle -->

  <!-- Begin Sidebar -->
  <p-sidebar [(visible)]="sidebarShowed" [fullScreen]="true" position="right">
    <span class="p-float-label">
      <p-dropdown [autoDisplayFirst]="false" [options]="dietTypes"
                  [showClear]="true" formControlName="diet"
                  optionValue="key"></p-dropdown>
      <label for="float-input" translate="">Diet</label>
    </span>
    <span class="p-float-label">
      <p-dropdown [autoDisplayFirst]="false" [options]="recipeTypes"
                  [showClear]="true" formControlName="type"
                  optionValue="key"></p-dropdown>
      <label for="float-input" translate="">Type</label>
    </span>
    <span class="p-float-label">
			<p-dropdown [autoDisplayFirst]="false" [options]="sweetOrSalty"
                  [showClear]="true" formControlName="sweetOrSalty"
                  optionValue="key"></p-dropdown>
				<label for="float-input" translate="">Sweet / Salty</label>
		</span>
    <span class="p-float-label">
      <p-multiSelect [autofocusFilter]="true"
                     [emptyFilterMessage]="'No ingredients found.' | translate"
                     [options]="ingredients"
                     [selectionLimit]="3"
                     formControlName="ingredients" optionLabel="name" optionValue="id">
      </p-multiSelect>
      <label for="float-input" translate="">Ingredients</label>
    </span>
    <span class="p-float-label">
      <p-toggleButton [offLabel]="'In season' | translate" [onLabel]="'In season' | translate"
                      formControlName="isSeason" styleClass="w-full"></p-toggleButton>
    </span>
    <div class="flex flex-row justify-content-between" style="margin-top: 40px;">
      <button (click)="resetFilters()" [label]="'Clear filters' | translate"
              class="p-button-rounded p-button-text"
              icon="pi pi-times" pButton
              pRipple type="button"></button>
      <button (click)="gotoShopping()" [disabled]="selectedRecipes.length === 0"
              [pTooltip]="'Create shopping cart' | translate"
              class="p-button-rounded p-button-text"
              icon="pi pi-shopping-cart" pButton
              pRipple type="button"></button>
    </div>
  </p-sidebar>
  <!-- End Sidebar -->

  <!-- Begin Toolbar Right -->
  <div *ngIf="showFilters" class="p-toolbar-group-right">
    <button (click)="sidebarShowed = true" class="p-button-rounded p-button-text"
            icon="pi pi-chevron-left"
            pButton
            pRipple></button>
  </div>
  <!-- End Toolbar Right -->
</p-toolbar>
<p-tieredMenu #menu [autoDisplay]="true" [model]="menuItems" [popup]="true"></p-tieredMenu>
