.page-container__content {
  width: 100%;
}

.grid {
  h5 {
    border-bottom: 4px solid var(--surface-d);
  }
}

textarea {
  height: 90px;
}

::ng-deep .p-dialog.ingredient .p-dialog-content {
  padding: 0 !important;
  overflow: initial;
}


.recipe ::ng-deep .p-fileupload {
  border: 1px solid #0b213f;

  .p-fileupload-buttonbar {
    border: none;
  }

  .p-fileupload-content {
    display: none;
  }

  &.withFiles {
    .p-fileupload-content {
      display: block;
    }
  }
}
