.page-container__content {
  width: 100%;
}

.grid {
  h5 {
    border-bottom: 4px solid var(--surface-d);
  }
}

textarea {
  height: 90px;
}

::ng-deep .p-dialog.ingredient .p-dialog-content {
  padding: 0 !important;
  overflow: initial;
}
