<div class="page-container__content">
  <form (submit)="handleSubmit()" [formGroup]="form">
    <p-card #pnl class="recipe">
      <ng-template pTemplate="title">
        <div class="flex flex-row align-items-center">
          <a [routerLink]="['/', 'recipes']" class="p-button-rounded p-button-text" icon="pi pi-angle-left" pButton
             pRipple
             type="button"></a>
          <h5 class="text-center flex-grow-1">{{ recipe.name ?? ('New recipe' | translate) }}</h5>
        </div>
      </ng-template>

      <div class="grid">
        <div class="col">
          <h5 class="flex flex-row align-items-center">
            <span translate="">Description</span>
            <div class="flex-grow-1"></div>
            <button class="p-button-rounded p-button-text" pButton type="button"></button>
          </h5>

          <div class="field grid">
            <label [ngClass]="{'p-error':name.invalid && (name.dirty || name.touched)}"
                   class="col-12 mb-2 md:col-4 md:mb-0"
                   for="name" translate="">Name</label>
            <div class="col-12 md:col-8">
              <input [ngClass]="{'p-invalid':name.invalid && (name.dirty || name.touched)}" class="inputfield w-full"
                     formControlName="name" id="name" pInputText/>
            </div>
            <div class="col-12 mb-2 md:col-4 md:mb-0"></div>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="col-12 md:col-8 p-error">
              <small *ngIf="name.errors?.['required']" translate="">
                Name is required.
              </small>
              <small *ngIf="name.errors?.['exist']" translate="">
                Recipe already exist.
              </small>
            </div>
          </div>

          <div class="field grid">
            <label [ngClass]="{'p-error':type.invalid && (type.dirty || type.touched)}"
                   class="col-12 mb-2 md:col-4 md:mb-0"
                   for="type" translate="">Type</label>
            <div class="col-12 md:col-8">
              <p-dropdown [autoDisplayFirst]="false" [options]="recipeTypes"
                          [placeholder]="'Select a type' | translate"
                          [showClear]="true" formControlName="type"
                          inputId="type" optionValue="key"
                          styleClass="inputfield w-full"></p-dropdown>
            </div>
            <div class="col-12 mb-2 md:col-4 md:mb-0"></div>
            <div *ngIf="type.invalid && (type.dirty || type.touched)" class="col-12 md:col-8 p-error">
              <small *ngIf="type.errors?.['required']" translate="">
                Type is required.
              </small>
            </div>
          </div>

          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0"
                   for="source" translate="">Source</label>
            <div class="col-12 md:col-8">
              <input class="inputfield w-full"
                     formControlName="source" id="source" pInputText/>
            </div>
          </div>

          <div class="field grid">
            <label class="col-12 mb-2 md:col-4 md:mb-0"
                   for="image" translate="">Image</label>
            <div class="col-12 md:col-8">
              <input class="inputfield w-full"
                     formControlName="image" id="image" pInputText/>
            </div>
          </div>

          <h5 class="flex flex-row align-items-center">
            <span translate="">Duration</span>
            <div class="flex-grow-1"></div>
            <button class="p-button-rounded p-button-text" pButton type="button"></button>
          </h5>
          <div class="formgrid grid">
            <div class="field col-12 md:col-4">
              <label for="preparationDuration" translate="">Preparation</label>
              <p-inputNumber [min]="0" class="inputfield w-full" formControlName="preparationDuration"
                             inputId="preparationDuration" suffix=" min"></p-inputNumber>
            </div>
            <div class="field col-12 md:col-4">
              <label for="cookingDuration" translate="">Cooking</label>
              <p-inputNumber [min]="0" class="inputfield w-full" formControlName="cookingDuration"
                             inputId="cookingDuration" suffix=" min"></p-inputNumber>
            </div>
            <div class="field col-12 md:col-4">
              <label for="waitingDuration" translate="">Waiting</label>
              <p-inputNumber [min]="0" class="inputfield w-full" formControlName="waitingDuration"
                             inputId="waitingDuration" suffix=" min"></p-inputNumber>
            </div>
          </div>

          <h5 class="flex flex-row align-items-center">
            <span [ngClass]="{'p-error':instructionRows.invalid && (instructionRows.dirty || instructionRows.touched)}"
                  translate="">Instructions</span>
            <div class="flex-grow-1"></div>
            <button
              *ngIf="instructionRows.invalid && (instructionRows.dirty || instructionRows.touched)"
              class="p-button-rounded p-button-text p-button-danger"
              icon="pi pi-exclamation-triangle"
              pButton
              type="button"></button>
            <button (click)="addInstructionRow()" class="p-button-rounded p-button-text" icon="pi pi-plus" pButton
                    pRipple
                    type="button"></button>
          </h5>
          <div
            *ngFor="let item of instructionRows.controls; let i = index;"
            formArrayName="instructions"
          >
            <div class="flex flex-row">
              <textarea
                [formControlName]="i"
                [ngClass]="{'p-invalid':instructionRows.at(i).invalid && (instructionRows.at(i).dirty || instructionRows.at(i).touched)}"
                class="flex-grow-1" pInputTextarea></textarea>
              <button (click)="removeInstructionRow(i)" class="p-button-rounded p-button-text" icon="pi pi-minus"
                      pButton pRipple
                      type="button"></button>
            </div>
            <div
              *ngIf="instructionRows.at(i).invalid && (instructionRows.at(i).dirty || instructionRows.at(i).touched)"
              class="col-12 md:col-8 p-error">
              <small *ngIf="instructionRows.at(i).errors?.['required']" translate="">
                Instruction is required.
              </small>
            </div>
          </div>
        </div>

        <div class="col">
          <h5 class="flex flex-row align-items-center">
            <span
              [ngClass]="{'p-error':recipeIngredients.invalid && (recipeIngredients.dirty || recipeIngredients.touched)}"
              translate="">Ingredients</span>
            <div class="flex-grow-1"></div>
            <button
              *ngIf="recipeIngredients.invalid && (recipeIngredients.dirty || recipeIngredients.touched)"
              class="p-button-rounded p-button-text p-button-danger"
              icon="pi pi-exclamation-triangle"
              pButton
              type="button"></button>
            <button (click)="addRecipeIngredient()" class="p-button-rounded p-button-text" icon="pi pi-plus" pButton
                    pRipple
                    type="button"></button>
          </h5>
          <p-accordion>
            <p-accordionTab *ngFor="let item of recipeIngredients.controls; let i = index;"
                            formArrayName="recipeIngredientForms">
              <ng-template pTemplate="header">
                <span
                  [ngClass]="{'p-error':recipeIngredients.at(i).invalid && (recipeIngredients.at(i).dirty || recipeIngredients.at(i).touched)}">{{ recipeIngredientToString(i) }}</span>
                <div class="flex-grow-1"></div>
                <button
                  *ngIf="recipeIngredients.at(i).invalid && (recipeIngredients.at(i).dirty || recipeIngredients.at(i).touched)"
                  class="p-button-rounded p-button-text p-button-danger"
                  icon="pi pi-exclamation-triangle"
                  pButton
                  type="button"></button>
                <button (click)="removeRecipeIngredient(i)" class="p-button-rounded p-button-text" icon="pi pi-minus"
                        pButton pRipple
                        type="button"></button>
              </ng-template>
              <div [formGroupName]="i" class="ingredients">
                <div class="formgrid grid">
                  <div class="field col-12 md:col-4">
                    <label
                      [for]="'quantity' + i"
                      [ngClass]="{'p-error':recipeIngredients.at(i).invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)}"
                      translate="">Quantity</label>
                    <p-inputNumber
                      [inputId]="'quantity' + i"
                      [min]="0"
                      [ngClass]="{'p-invalid': recipeIngredients.at(i).invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)}"
                      class="inputfield w-full"
                      formControlName="quantity"></p-inputNumber>
                    <div
                      *ngIf="recipeIngredients.at(i).invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)"
                      class="p-error">
                      <small *ngIf="recipeIngredients.at(i).errors?.['invalid']"
                             translate="">
                        Required.
                      </small>
                    </div>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label
                      [for]="'unit' + i"
                      [ngClass]="{'p-error':recipeIngredients.at(i).invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)}"
                      translate="">Unit</label>
                    <p-dropdown
                      [autoDisplayFirst]="false"
                      [editable]="true"
                      [inputId]="'unit' + i"
                      [ngClass]="{'p-invalid':recipeIngredients.at(i).invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)}"
                      [options]="measureUnits"
                      [showClear]="true"
                      formControlName="unitOrMeasure" optionValue="key"
                      styleClass="inputfield w-full"></p-dropdown>
                    <div
                      *ngIf="recipeIngredients.at(i).invalid && (recipeIngredients.at(i).dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)"
                      class="p-error">
                      <small *ngIf="recipeIngredients.at(i).errors?.['invalid']"
                             translate="">
                        Required.
                      </small>
                    </div>
                  </div>
                  <div class="field col-12 md:col-4">
                    <label
                      [for]="'ingredient' + i"
                      [ngClass]="{'p-error':recipeIngredients.at(i).get('ingredientOrRecipe')?.invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)}"
                      translate="">Ingredient</label>
                    <p-autoComplete (completeMethod)="searchIngredientOrRecipe($event)" [dropdown]="true"
                                    [forceSelection]="true"
                                    [suggestions]="ingredientsOrRecipes" class="inputfield w-full" dataKey="id"
                                    field="name" formControlName="ingredientOrRecipe">
                    </p-autoComplete>
                    <div
                      *ngIf="recipeIngredients.at(i).get('ingredientOrRecipe')?.invalid && (recipeIngredients.at(i).get('ingredientOrRecipe')?.dirty || recipeIngredients.at(i).get('ingredientOrRecipe')?.touched)"
                      class="p-error">
                      <small *ngIf="recipeIngredients.at(i).get('ingredientOrRecipe')?.errors?.['required']"
                             translate="">
                        Required.
                      </small>
                    </div>
                  </div>
                </div>


                <div class="field grid">
                  <label [for]="'base' + i"
                         class="col-12 mb-2 md:col-3 md:mb-0" translate="">Base ?</label>
                  <div class="col-12 md:col-2">
                    <p-toggleButton [inputId]="'base' + i" formControlName="isBase" offIcon="pi pi-times"
                                    onIcon="pi pi-check"></p-toggleButton>
                  </div>
                  <div class="col-12 md:col-2"></div>
                  <label [for]="'main' + i"
                         class="col-12 mb-2 md:col-3 md:mb-0" translate="">Main ?</label>
                  <div class="col-12 md:col-2">
                    <p-toggleButton [inputId]="'main' + i" formControlName="isMain" offIcon="pi pi-times"
                                    onIcon="pi pi-check"></p-toggleButton>
                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>

      <ng-template pTemplate="footer">
        <div class="flex flex-row">
          <button (click)="remove()" *ngIf="recipe.id" [label]="('Delete' | translate)"
                  class="p-button-danger"
                  icon="pi pi-trash" pButton pRipple
                  type="button"></button>
          <div class="flex-grow-1"></div>
          <button [label]="(recipe.id ? 'Update' : 'Add') | translate" icon="pi pi-check" pButton pRipple
                  type="submit"></button>
        </div>
      </ng-template>
    </p-card>
  </form>
</div>
<p-blockUI [blocked]="loading" [target]="pnl">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
</p-blockUI>
<p-confirmDialog #cd [header]="'Confirmation' | translate" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button (click)="cd.reject()" [label]="'No' | translate" icon="pi pi-times" pButton
            pRipple
            type="button"></button>
    <button (click)="cd.accept()" [label]="'Yes' | translate" class="p-button-danger" icon="pi pi-check" pButton
            pRipple
            type="button"></button>
  </p-footer>
</p-confirmDialog>
