<form (submit)="handleSubmit()" [formGroup]="form" class="page-container__content__center">
  <p-card #pnl class="ingredient">
    <ng-template pTemplate="title">
      <div class="flex flex-row align-items-center">
        <h5 class="text-center flex-grow-1">{{ name ?? ('New item' | translate) }}</h5>
        <button (click)="close()"
                class="p-button-rounded p-button-text" icon="pi pi-times"
                pButton
                pRipple type="button"></button>
      </div>
    </ng-template>

    <div class="field grid col-12">
      <label
        [ngClass]="{'p-error':form.get('quantity')?.invalid && (form.get('quantity')?.dirty || form.get('quantity')?.touched)}"
        translate="">Quantity</label>
      <input
        [ngClass]="{'p-invalid':form.get('quantity')?.invalid && (form.get('quantity')?.dirty || form.get('quantity')?.touched)}"
        class="inputfield w-full"
        formControlName="quantity" pInputText/>
    </div>

    <div class="field grid col-12">
      <label
        [ngClass]="{'p-error':form.get('ingredient')?.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        translate="">Ingredient</label>
      <p-autoComplete (completeMethod)="searchIngredient($event)"
                      (onClear)="form.get('ingredient')?.setValue(null)"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [required]="false"
                      [showClear]="true"
                      [suggestions]="ingredients"
                      appendTo="body" class="inputfield w-full"
                      dataKey="id"
                      field="name" formControlName="ingredient">
      </p-autoComplete>
    </div>

    <div class="field grid col-12">
      <label
        [ngClass]="{'p-error':form.get('other')?.invalid && (form.get('other')?.dirty || form.get('other')?.touched)}"
        class="w-full"
        translate="">Other</label>
      <span class="p-input-icon-right w-full">
          <i (click)="form.get('other')?.setValue('')" class="pi pi-times"></i>
          <input
            [ngClass]="{'p-invalid':form.get('other')?.invalid && (form.get('other')?.dirty || form.get('other')?.touched)}"
            class="inputfield w-full"
            formControlName="other" pInputText/>
      </span>
    </div>

    <div *ngIf="form.invalid && (form.dirty || form.touched)" class="col-12 p-error">
      <small *ngIf="form.errors?.['invalid']" translate="">
        Ingredient or other is required.
      </small>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex flex-row">
        <button (click)="confirmRemove()" *ngIf="cartElement" [label]="('Remove' | translate)"
                [disabled]="loading" class="p-button-danger hide-label-mobile"
                icon="pi pi-trash" pButton pRipple
                type="button"></button>
        <div class="flex-grow-1"></div>
        <button [disabled]="loading || form.invalid && (form.dirty || form.touched)"
                [label]="(cartElement ? 'Update' : 'Add') | translate" icon="pi pi-check" pButton
                pRipple
                type="submit"></button>
      </div>
    </ng-template>
  </p-card>
</form>
<p-confirmDialog #cd [header]="'Confirmation' | translate" icon="pi pi-exclamation-triangle"
                 key="cartIngredientConfirm">
  <p-footer>
    <button (click)="cd.reject()" [label]="'No' | translate" icon="pi pi-times" pButton
            pRipple
            type="button"></button>
    <button (click)="cd.accept()" [label]="'Yes' | translate" class="p-button-danger" icon="pi pi-check" pButton
            pRipple
            type="button"></button>
  </p-footer>
</p-confirmDialog>
