<div [formGroup]="form" class="ingredients">
  <div class="formgrid grid">
    <div class="field col-12 md:col-4">
      <label
        [for]="'quantity' + i"
        [ngClass]="{'p-error':form.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        translate="">Quantity</label>
      <p-inputNumber
        [inputId]="'quantity' + i"
        [min]="0"
        [ngClass]="{'p-invalid': form.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        [step]="0.1"
        class="inputfield w-full"
        formControlName="quantity"></p-inputNumber>
      <div
        *ngIf="form.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)"
        class="p-error">
        <small *ngIf="form.errors?.['invalid']"
               translate="">
          Required.
        </small>
      </div>
    </div>
    <div class="field col-12 md:col-4">
      <label
        [for]="'unit' + i"
        [ngClass]="{'p-error':form.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        translate="">Unit</label>
      <p-dropdown
        [autoDisplayFirst]="false"
        [editable]="true"
        [filter]="true"
        [inputId]="'unit' + i"
        [ngClass]="{'p-invalid':form.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        [options]="measureUnits"
        [showClear]="true"
        formControlName="unitOrMeasure" optionValue="key"
        styleClass="inputfield w-full">
        <ng-template let-selectItem pTemplate="selectedItem">
          {{ selectItem.label }}
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{ item.label }}
        </ng-template>
      </p-dropdown>
      <div
        *ngIf="form.invalid && (form.dirty || form.get('ingredient')?.touched)"
        class="p-error">
        <small *ngIf="form.errors?.['invalid']"
               translate="">
          Required.
        </small>
      </div>
    </div>
    <div class="field col-12 md:col-4">
      <label
        [for]="'ingredient' + i"
        [ngClass]="{'p-error':form.get('ingredient')?.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)}"
        translate="">Ingredient</label>
      <p-autoComplete (completeMethod)="searchIngredient($event)"
                      [dropdown]="true"
                      [forceSelection]="true"
                      [suggestions]="ingredients" class="inputfield w-full"
                      dataKey="id"
                      field="name" formControlName="ingredient">
      </p-autoComplete>
      <div
        *ngIf="form.get('ingredient')?.invalid && (form.get('ingredient')?.dirty || form.get('ingredient')?.touched)"
        class="p-error">
        <small *ngIf="form.get('ingredient')?.errors?.['required']"
               translate="">
          Required.
        </small>
        <small *ngIf="form.get('ingredient')?.errors?.['exist']" translate="">
          Ingredient already in kitchen.
        </small>
      </div>
    </div>
  </div>
</div>
