$mobile-breakpoint-width: 700px;
$mobile-tablet-width: 1100px;

$header-desktop-height: 88px;
$header-mobile-height: 64px;

$page-width: 600px;


$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 32px;
